

.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project__list-item {
  width: 370px;
  height: 404px;
  outline: 1px solid rgba(238, 238, 238, 1);
}

.contents__image {
  display: flex;
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.project__content-container {
  padding: 20px 24px;
}

.project__title {
  margin: 0 0 4px;
  padding: 0;
  color: rgba(33, 33, 33, 1);
  font-size: 18px;

  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.project__category {
  margin: 0;
  padding: 0;
  color: rgba(117, 117, 117, 1);
  font-size: 16px;

  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}